pipeline/bronze_blob_retail_transaction.json
{
	"name": "bronze_blob_retail_transaction",
	"properties": {
		"activities": [
			{
				"name": "copy_extract src to stage file",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"modifiedDatetimeStart": {
								"value": "@addDays(pipeline().parameters.dt,pipeline().parameters.daysOffset)",
								"type": "Expression"
							},
							"wildcardFolderPath": {
								"value": "@pipeline().parameters.path",
								"type": "Expression"
							},
							"wildcardFileName": {
								"value": "@pipeline().parameters.file",
								"type": "Expression"
							},
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "MergeFiles"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"type": "String",
									"ordinal": 1
								},
								"sink": {
									"name": "Seq",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 2
								},
								"sink": {
									"name": "Transaction_ID",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 3
								},
								"sink": {
									"name": "Date",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 4
								},
								"sink": {
									"name": "Customer_Name",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 5
								},
								"sink": {
									"name": "Product",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 6
								},
								"sink": {
									"name": "Total_Item",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 7
								},
								"sink": {
									"name": "Total_Cost",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 8
								},
								"sink": {
									"name": "Payment_Method",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 9
								},
								"sink": {
									"name": "City",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 10
								},
								"sink": {
									"name": "Store_Type",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 11
								},
								"sink": {
									"name": "Discount_Applied",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 12
								},
								"sink": {
									"name": "Customer_Category",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 13
								},
								"sink": {
									"name": "Season",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 14
								},
								"sink": {
									"name": "Promotion",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 15
								},
								"sink": {
									"name": "year",
									"physicalType": "UTF8"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_Blob_CSV",
						"type": "DatasetReference",
						"parameters": {
							"container": {
								"value": "@pipeline().parameters.container",
								"type": "Expression"
							},
							"path": {
								"value": "@pipeline().parameters.path",
								"type": "Expression"
							},
							"file": " ",
							"hasRowHeader": {
								"value": "@pipeline().parameters.hasRowHeader",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_Deltalake_Parquet",
						"type": "DatasetReference",
						"parameters": {
							"container": {
								"value": "@pipeline().parameters.dstContainer",
								"type": "Expression"
							},
							"path": {
								"value": "@{pipeline().parameters.dstFileDirPath}/@{variables('dstFileDirName')}/dt=@{pipeline().parameters.dt}",
								"type": "Expression"
							},
							"file": {
								"value": "@variables('dstFile')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "nbk_bronze_blob_retail_transaction",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "copy_extract src to stage file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": {
						"value": "@variables('notebookPath')",
						"type": "Expression"
					},
					"baseParameters": {
						"catalog_name": {
							"value": "@pipeline().parameters.dstCatalog",
							"type": "Expression"
						},
						"dt": {
							"value": "@pipeline().parameters.dt",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_ADB",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"container": {
				"type": "string",
				"defaultValue": "file-data"
			},
			"path": {
				"type": "string",
				"defaultValue": "retail/retail_transaction"
			},
			"file": {
				"type": "string",
				"defaultValue": "*.csv"
			},
			"hasRowHeader": {
				"type": "bool",
				"defaultValue": false
			},
			"dstContainer": {
				"type": "string",
				"defaultValue": "demo"
			},
			"dstFileDirPath": {
				"type": "string",
				"defaultValue": "retail/blob/bronze"
			},
			"dt": {
				"type": "string",
				"defaultValue": "2025-01-01"
			},
			"daysOffset": {
				"type": "int",
				"defaultValue": -1000
			},
			"dstCatalog": {
				"type": "string",
				"defaultValue": "project_catalog"
			}
		},
		"variables": {
			"dstFileDirName": {
				"type": "String",
				"defaultValue": "stage_blob_retail_transaction"
			},
			"dstFile": {
				"type": "String",
				"defaultValue": "retail_transaction.parquet"
			},
			"notebookPath": {
				"type": "String",
				"defaultValue": "/retail/dml/bronze/blob_retail_transaction"
			}
		},
		"folder": {
			"name": "retail/bronze/blob/detail"
		},
		"annotations": []
	}
}