pipeline/object_2.json
{
	"name": "object_2",
	"properties": {
		"activities": [
			{
				"name": "truncate table",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": {
						"value": "@variables('truncateProcWithSchema')",
						"type": "Expression"
					},
					"storedProcedureParameters": {
						"tableNameWithSchema": {
							"value": {
								"value": "@variables('stgTableNameWithSchema')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "sqldb_dw",
					"type": "LinkedServiceReference",
					"parameters": {
						"dbName": "sqldevswcd",
						"dbUserName": "sqladminuser01",
						"dbUserPwd": "1qaz!QAZ",
						"dbServerName": "sqlserverdevswcd.database.windows.net"
					}
				}
			},
			{
				"name": "get last modify date",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "truncate table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select last_modify_date = isnull(max(modify_date), '1900-01-01') from dbo.ods_object",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "azuresql_dst",
						"type": "DatasetReference",
						"parameters": {
							"tableNameWithSchema": {
								"value": "@variables('odsTableNameWithSchema')",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "stg to ods",
				"description": "",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Data flow1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": {
						"value": "@variables('odsProcWithSchema')",
						"type": "Expression"
					},
					"storedProcedureParameters": {
						"batch_id": {
							"value": {
								"value": "@pipeline().parameters.batch_id",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "sqldb_dw",
					"type": "LinkedServiceReference",
					"parameters": {
						"dbName": "sqldevswcd",
						"dbUserName": "sqladminuser01",
						"dbUserPwd": "1qaz!QAZ",
						"dbServerName": "sqlserverdevswcd.database.windows.net"
					}
				}
			},
			{
				"name": "Data flow1",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "get last modify date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "dataflow2",
						"type": "DataFlowReference",
						"parameters": {
							"srcTableSQL": {
								"value": "'@{concat(variables('srcTableSQL'),  ' where modify_date>\\''', activity('get last modify date').output.firstRow.last_modify_date,  '\\''')}'",
								"type": "Expression"
							},
							"dstTableNameWithSchema": {
								"value": "'@{variables('stgTableNameWithSchema')}'",
								"type": "Expression"
							}
						},
						"linkedServiceParameters": {
							"source1": {
								"linkedService": {
									"dbName": "sqldevswcd",
									"dbUserName": "sqladminuser01",
									"dbUserPwd": "1qaz!QAZ",
									"dbServerName": "sqlserverdevswcd.database.windows.net"
								}
							},
							"sink1": {
								"linkedService": {
									"dbName": "sqldevswcd",
									"dbUserName": "sqladminuser01",
									"dbUserPwd": "1qaz!QAZ",
									"dbServerName": "sqlserverdevswcd.database.windows.net"
								}
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			}
		],
		"parameters": {
			"batch_id": {
				"type": "string",
				"defaultValue": "0"
			}
		},
		"variables": {
			"truncateProcWithSchema": {
				"type": "String",
				"defaultValue": "dbo.p_truncate_table"
			},
			"stgTableNameWithSchema": {
				"type": "String",
				"defaultValue": "dbo.stg_object"
			},
			"odsTableNameWithSchema": {
				"type": "String",
				"defaultValue": "dbo.ods_object"
			},
			"srcTableSQL": {
				"type": "String",
				"defaultValue": "select name, object_id,principal_id,schema_id,parent_object_id,type,type_desc,create_date,modify_date,is_ms_shipped,is_published,is_schema_published from dbo.src_object"
			},
			"srcTableNameWithSchema": {
				"type": "String",
				"defaultValue": "dbo.src_object"
			},
			"odsProcWithSchema": {
				"type": "String",
				"defaultValue": "dbo.p_etl_ods_object"
			}
		},
		"folder": {
			"name": "demo"
		},
		"annotations": [],
		"lastPublishTime": "2023-08-29T02:32:27Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}