pipeline/pipeline2.json
{
	"name": "pipeline2",
	"properties": {
		"activities": [
			{
				"name": "Web_Get AcceccTokenObj",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "https://qyapi.weixin.qq.com/cgi-bin/gettoken?corpid=@{variables('corpid')}&corpsecret=@{variables('corpsecret')}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SVar_Set Var accecc_token",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Web_Get AcceccTokenObj",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "access_token",
					"value": {
						"value": "@activity('Web_Get AcceccTokenObj').output.access_token",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Web_Set Department List",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "SVar_Set Var accecc_token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "https://qyapi.weixin.qq.com/cgi-bin/department/list?access_token=@{variables('access_token')}&id",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Web_Get User List",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "SVar_Set Var accecc_token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "https://qyapi.weixin.qq.com/cgi-bin/user/list?access_token=@{variables('access_token')}&department_id=1&fetch_child=1&status=0",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"corpid": {
				"type": "String",
				"defaultValue": "ww6756f2ce4a5f10ff"
			},
			"corpsecret": {
				"type": "String",
				"defaultValue": "VcCpyk0srxuJosFusMfA_mfGzJNrNsdLTPPuqbJ61s0"
			},
			"access_token": {
				"type": "String"
			}
		},
		"folder": {
			"name": "QyWeChat"
		},
		"annotations": []
	}
}