pipeline/TTL_Master.json
{
	"name": "TTL_Master",
	"properties": {
		"activities": [
			{
				"name": "Web_Get AccessToken",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET"
				},
				"linkedServiceName": {
					"referenceName": "LS_WEB_QYWeChat_Login",
					"type": "LinkedServiceReference",
					"parameters": {
						"corpid": {
							"value": "@pipeline().parameters.corpid",
							"type": "Expression"
						},
						"corpsecret": {
							"value": "@pipeline().parameters.corpsecret",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "SetVar_Set Var access_token",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Web_Get AccessToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "access_token",
					"value": {
						"value": "@activity('Web_Get AccessToken').output.access_token",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "SetVar_Set Var access_token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(1,1)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "ExecPL_Department_TTL",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "TTL_Department",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"access_token": {
										"value": "@variables('access_token')",
										"type": "Expression"
									},
									"dt": {
										"value": "@pipeline().parameters.dt",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "ExecPL_User_TTL",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "TTL_User",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"access_token": {
										"value": "@variables('access_token')",
										"type": "Expression"
									},
									"dt": {
										"value": "@pipeline().parameters.dt",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"corpid": {
				"type": "string",
				"defaultValue": "ww6756f2ce4a5f10ff"
			},
			"corpsecret": {
				"type": "string",
				"defaultValue": "VcCpyk0srxuJosFusMfA_mfGzJNrNsdLTPPuqbJ61s0"
			},
			"dt": {
				"type": "string",
				"defaultValue": "2025-06-10"
			}
		},
		"variables": {
			"access_token": {
				"type": "String"
			}
		},
		"folder": {
			"name": "QyWeChat"
		},
		"annotations": []
	}
}